<app-header></app-header>

<div class="centered">
  <div class="privacy-policy-container">
    <h1>Datenschutzerklärung</h1>
    <p>
      Diese Datenschutzerklärung klärt Sie über die Art, den Umfang und den
      Zweck der Verarbeitung von personenbezogenen Daten auf der Website
      „Videoflix“ auf.
    </p>

    <h2>1. Verantwortliche Person</h2>
    <p>Diese Website wird als persönliches Projekt betrieben von:</p>
    <p>
      Sascha Tichy<br />
      tichy.sascha1&#64;gmail.com
    </p>

    <h2>2. Erhobene Daten</h2>
    <p>
      Beim Registrierungsprozess auf Videoflix werden folgende personenbezogene
      Daten erfasst:
    </p>
    <ul>
      <li>E-Mail-Adresse</li>
      <li>Passwort</li>
    </ul>

    <h2>3. Zweck der Datenerhebung</h2>
    <p>
      Die erhobenen Daten werden ausschließlich für den Zugang zum persönlichen
      Nutzerkonto genutzt. Eine weitergehende Verwendung, Speicherung oder
      Weitergabe an Dritte erfolgt nicht.
    </p>

    <h2>4. Hosting</h2>
    <p>
      Diese Website wird in Österreich gehostet. Alle erfassten Daten verbleiben
      auf Servern innerhalb Österreichs.
    </p>

    <h2>5. Speicherdauer</h2>
    <p>
      Die personenbezogenen Daten werden nur so lange gespeichert, wie es für
      den Betrieb der Website erforderlich ist. Nutzer können jederzeit eine
      Löschung ihres Kontos und der damit verbundenen Daten verlangen.
    </p>

    <h2>6. Betroffenenrechte</h2>
    <p>Sie haben das Recht auf:</p>
    <ul>
      <li>Auskunft über Ihre gespeicherten Daten</li>
      <li>Berichtigung falscher Daten</li>
      <li>Löschung Ihrer Daten</li>
      <li>Einschränkung der Verarbeitung</li>
    </ul>
    <p>
      Zur Ausübung dieser Rechte kontaktieren Sie bitte: [Deine E-Mail-Adresse]
    </p>

    <h2>7. Änderungen dieser Datenschutzerklärung</h2>
    <p>
      Diese Datenschutzerklärung kann aktualisiert werden, falls sich rechtliche
      oder technische Änderungen ergeben.
    </p>
  </div>
</div>
