::ng-deep body {
  background-color: black;
}

.imprint-container {
  padding: 24px 96px;
  width: 100%;
  max-width: 1440px;

  h2 {
    margin-bottom: 12px;
  }

  p {
    margin-bottom: 6px;
  }
}

@media (max-width: 769px) {
  .imprint-container {
    padding: 24px 16px;
  }
}
