<app-header class="header" (redirectLogin)="redirect('/login')"></app-header>

<div class="background-black"></div>

<div class="background" [@backgroundFadeTrigger]="backgroundState">
  <div class="curtain"></div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="main-container">
    <div class="flex-1">
      <div class="forgot-password-container" [@hideShowTrigger]="state">
        <h1>Forgot your password?</h1>
        <p>
          We will send you an email with instructions to reset your password.
        </p>

        <div class="form-group">
          <input
            type="text"
            formControlName="email"
            class="input-field"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
            placeholder="Email Address"
          />
          @if (submitted && f['email'].errors) {
          <div class="invalid-feedback">
            @if (f['email'].errors['required']) {
            <div>Email is required</div>
            } @if (f['email'].errors['pattern']) {
            <div>Email is invalid</div>
            }
          </div>
          }
        </div>

        <div class="form-group submit-button-container">
          <button
            type="submit"
            class="standard-button"
            [ngClass]="{ 'button-disabled': formEmpty }"
            [disabled]="buttonSubmitDisabled"
          >
            Send Email
          </button>
        </div>
      </div>
    </div>
    <app-footer class="footer"></app-footer>
  </div>
</form>
