<div class="background-black"></div>

<div class="background">
  <div class="curtain"></div>
</div>

<div class="main-container">
  <div class="flex-1">
    <h1>Movies, TV shows, and more</h1>
    <h3>Watch whenever you want wherever you want</h3>
    <h4>Enter your email to create or restart your subcription.</h4>
    <div class="sign-up">
      <input type="email" class="input-email" placeholder="Email Address" />
      <button class="standard-button">Sign Up ></button>
    </div>
  </div>
</div>
