.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding-bottom: 48px;
  width: 100%;
  max-width: 1720px;

  button {
    color: white;
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.right {
  justify-content: flex-end;
  padding-right: 96px;
  background-image: linear-gradient(transparent, black);
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .footer-container {
    padding-bottom: 20px;
  }
}